<footer class="p-4">

    <div class="row pt-2">

        <div class="col-lg-3 col-sm-12">
            <img id="logo-footer" src="https://zupimages.net/up/22/40/vn08.png">
        </div>

        <div id="col-plan-du-site" class="col-lg-3 col-sm-12 p-0 m-0">
            <h3 class="h3-footer text-uppercase fw-bold clignote border-bottom border-dark w-50">Plan du site</h3>

            <p>
                <a href="{{ path('app_lutherie') }}" class="text-white">La lutherie</a>
            </p>
            <p>
                <a href="{{ path('app_luthier') }}" class="text-white">Le luthier</a>
            </p>
            <p>
                <a href="{{ path('app_realisations') }}" class="text-white">Réalisations</a>
            </p>
            <p>
                <a href="{{ path('app_actualites') }}" class="text-white">Actualités</a>
            </p>
            <p>
                <a href="{{ path('app_contact') }}" class="text-white">Contact</a>
            </p>
        </div>


        <div id="col-contacts" class="col-lg-3 col-sm-12 text-light p-0 m-0">
            <h3 class="h3-footer text-uppercase clignote fw-bold border-bottom border-dark w-50">Contacts</h3>

            <div>
                <strong class="m-0 text-uppercase">
                    Adresse:
                </strong>
                <p class="m-0">
                    adresse adresse adresse
                <p>00 000 VILLE</p>
                </p>
            </div>

            <div>
                <strong class="m-0 text-uppercase">
                    Téléphone:
                </strong>
                <p>
                    05 05 05 05 05
                </p>
            </div>

            <div>
                <strong class="m-0 text-uppercase">
                    Envoyer un mail:
                </strong>
                <p>
                    <a href="#"><i class="fa-solid fa-envelopes-bulk fa-2x text-white"></i></a>
                </p>
            </div>
        </div>

        <div id="col-liens-utiles" class="col-lg-3 col-sm-12 text-white">
            <h3 class="h3-footer text-uppercase clignote fw-bold border-bottom border-dark w-50">Liens utiles</h3>

            <div class="mb-3">
                <strong class="m-0 text-uppercase">
                    <a href="#"><i class="fa-brands fa-facebook fa-2x text-white"></i></a>
                </strong>
            </div>

            <div class="mb-3">
                <strong class="m-0 text-uppercase">
                    <a href="#"><i class="fa-brands fa-facebook fa-2x text-white"></i></a>
                </strong>
            </div>

            <div class="mb-3">
                <strong class="m-0 text-uppercase">
                    <a href="#"><i class="fa-brands fa-facebook fa-2x text-white"></i></a>
                </strong>
            </div>
        </div>
        </div>

    </div>

</footer>