<navbar class="navbar navbar-expand-lg p-4">
    <div class="container-fluid">

        <!----------->
        <div>
            <div class="" href="#"><img id="logo-navbar" src="https://zupimages.net/up/22/40/vn08.png"></div>
        </div>
        <!----------->

        <button class="custom-toggler navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!----------->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link clignote" aria-current="page" href="{{ path('app_lutherie') }}"><span class="text-dark">|</span> La lutherie &ensp;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link clignote" aria-current="page" href="{{ path('app_luthier') }}"><span class="text-dark">|</span> Le luthier &ensp;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link clignote" href="{{ path('app_realisations') }}"><span class="text-dark">|</span> Réalisations &ensp;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link clignote" href="{{ path('app_actualites') }}"><span class="text-dark">|</span> Actualités &ensp;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link clignote" href="{{ path('app_contact') }}"><span class="text-dark">|</span> Contact &ensp;</a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <div class="d-block">
                        <div>
                            <a class="nav-link bg-danger text-center" href="{{ path('admin') }}">ADMIN</a>
                        </div>
                        <div>
                            <p class="p-mail-nav">{{ app.user.email }}</p>
                        </div>
                    </div>

                    <a class="nav-link clignote ms-2" href="{{ path('app_logout') }}"><i class="fa-solid fa-power-off text-danger"></i></a>
                {% else %}
                    <li>
                        <a class="nav-link clignote border border-primary" href="{{ path('app_login') }}"><i class="fa-solid fa-power-off text-primary"></i></a>
                    </li>
                {% endif %}



            </ul>
        </div>
        <!----------->

    </div>
</navbar>