{% extends 'base.html.twig' %}

{% block title %}{{ titreSite }} - {{ titrePage }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row text-center">
            <h2 id="h2-pages">{{ titrePage }}</h2>
        </div>

        <div id="realisations-recherche" class="row text-center p-4 text-white mt-5">
            <h3>Rechercher dans les réalisations:</h3>
            <form>

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-3 col-sm-12">
                        <label for="" class="d-block">Par instrument:</label>
                        <select class="select-rech p-2">
                            <option value="">Sélectionnez un instrument</option>
                            {% for instrument in instruments %}
                            <option class="p-2">{{ instrument.instrument }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-lg-3 col-sm-12">
                        <label for="" class="d-block">Par époque:</label>
                        <select class="select-rech p-2">
                            <option value="">Sélectionnez une époque</option>
                            {% for epoque in epoques %}
                            <option>{{ epoque.epoque }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

            </form>
        </div>
    </div>




    <div class="row justify-content-center mt-5">

        {% for realisation in realisations %}
            <div class="col-lg-3 col-sm-12 mt-3">
                <div id="cards-rea" class="card h-100">
                    <div class="card-img">
                        <img src="/img/site/realisations{{ asset(realisation.imageRealisation) }}" class="img-fluid">
                    </div>
                    <div class="card-title border-bottom border-light mx-4 d-flex align-items-center justify-content-center text-center">
                        <h4 class="">{{ realisation.titreRealisation }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-text d-flex">
                            <div class="">
                                <p class="text-rea-cards">{{ realisation.resumeRealisation }}</p>
                            </div>
                        </div>

                        <div class="d-flex text-center mt-3">
                            <div>
                                <img src="/img/site/realisations{{ asset(realisation.annexeRealisation1) }}"
                                     class="img-card-real w-25 border border-light" alt="">
                                <img src="/img/site/realisations{{ asset(realisation.annexeRealisation2) }}"
                                     class="img-card-real w-25 border border-light">
                                <img src="/img/site/realisations{{ asset(realisation.annexeRealisation3) }}"
                                     class="img-card-real w-25 border border-light">
                            </div>
                        </div>

                        <div class="card-footer text-center mt-3">
                            <a href="{{ path('app_realisation_show', {'id': realisation.id}) }}" class="btn btn-outline-light p-2">Voir en détails</a>
                        </div>

                        <!--card body-->
                    </div>

                </div>

            </div>
        {% endfor %}

    </div>

    <div class="navigation w-75 m-auto mt-5 mb-5">
        {{ knp_pagination_render(realisations) }}
    </div>


    <div id="videos-container" class="container text-white">
        <div class="row text-center mt-5">
            <h3>{{ titreBlocVideos }}</h3>
        </div>

        <div class="row text-center justify-content-center mb-5 pb-5">
            {% for video in videos %}
                <div class="col-lg-3 col-sm-12 mt-3 border border-white mx-2">
                    <h4 class="mt-2">{{ video.titreVideo }}</h4>
                    <iframe src="{{ video.cheminVideo }}" title="{{ video.titreVideo }}" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p class="">{{ video.descriptionVideo }}</p>
                </div>
            {% endfor %}

            <div class="navigation w-75 m-auto mt-5 mb-5">
                {{ knp_pagination_render(videos) }}
            </div>
        </div>
    </div>



{% endblock %}

