{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h3 class="text-center">{{ RealisationsDetails.titreRealisation }}</h3>

    <div class="container">

        <div class="row">

            <div>
                <img src="/img/site/realisations{{ asset(RealisationsDetails.imageRealisation) }}"
                     alt="{{ RealisationsDetails.titreRealisation }}"
                     title="{{ RealisationsDetails.titreRealisation }}" class="w-25 mt-5 mb-3">
            </div>

            <div>
                <img src="/img/site/realisations{{ asset(RealisationsDetails.annexeRealisation1) }}"
                     alt="{{ RealisationsDetails.titreRealisation }}"
                     title="{{ RealisationsDetails.titreRealisation }}" class="w-25 mt-5 mb-3">
            </div>

            <div>
                <img src="/img/site/realisations{{ asset(RealisationsDetails.annexeRealisation2) }}"
                     alt="{{ RealisationsDetails.titreRealisation }}"
                     title="{{ RealisationsDetails.titreRealisation }}" class="w-25 mt-5 mb-3">
            </div>

            <div>
                <img src="/img/site/realisations{{ asset(RealisationsDetails.annexeRealisation3) }}"
                     alt="{{ RealisationsDetails.titreRealisation }}"
                     title="{{ RealisationsDetails.titreRealisation }}" class="w-25 mt-5 mb-3">
            </div>

            {% if RealisationsDetails.annexeRealisation4 is not null %}
            <div>
                <img src="/img/site/realisations{{ asset(RealisationsDetails.annexeRealisation4) }}"
                     alt="{{ RealisationsDetails.titreRealisation }}"
                     title="{{ RealisationsDetails.titreRealisation }}" class="w-25 mt-5 mb-3">
            </div>
            {% endif %}

            {% if RealisationsDetails.annexeRealisation5 is not null %}
            <div>
                <img src="/img/site/realisations{{ asset(RealisationsDetails.annexeRealisation5) }}"
                     alt="{{ RealisationsDetails.titreRealisation }}"
                     title="{{ RealisationsDetails.titreRealisation }}" class="w-25 mt-5 mb-3">
            </div>
            {% endif %}

            <!--row-->
        </div>


        <div>
            <p>
                {{ RealisationsDetails.descriptionRealisation1 }}
            </p>
        </div>

        <div>
            <p>
                {{ RealisationsDetails.descriptionRealisation2 }}
            </p>
        </div>

    </div>







{% endblock %}
