{% extends 'base.html.twig' %}

{% block title %}{{ titreSite }} - {{ titrePage }}{% endblock %}

{% block body %}
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-3 offset-2">
                <h2 id="h2-pages" class="text-center">{{ titrePage }}</h2>
            </div>
            <div class="col-4">
                <img id="img-contact" src="https://zupimages.net/up/22/42/q54h.png" alt="contact" title="contact">
            </div>
        </div>


        <div id="form-container" class="form-contact row p-4 contact-form justify-content-center w-50 m-auto mb-5">

            <div class="text-white">
                <div id="bloc-contact" class="d-flex">
                    <div class="form-group w-50 me-3">
                        {{ form_start(form) }}
                        {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group w-50 ms-3">
                        {{ form_row(form.prenom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>


                <div class="form-group w-50">
                    {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group mt-3">
                    {{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-light px-4 py-2">Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>

        </div>


    </div>



{% endblock %}

