{% extends 'base.html.twig' %}

{% block title %}{{ titreSite }} - {{ titrePage }}{% endblock %}

{% block body %}

    {% for lutherie in lutherieContent %}
        <div id="container-lutherie" class="container">
            <div class="row">
                <h1 class="text-center">{{ lutherie.titreSite }}</h1>
            </div>

            <div class="row text-center">
                <h2 class="text-white">{{ lutherie.titreIntroduction }}</h2>
                <p class="p-intro">{{ lutherie.introduction |striptags }}</p>
            </div>
        </div>




        <div class="row mt-3 mb-5 justify-content-center">

            <div id="" class="col-lg-4 col-sm-12">
                <div class="gauche">
                    <a href="#" class="a-lutherie" onclick="showHideDescription()"></a>
                </div>
            </div>

            <div id="" class="col-lg-4 col-sm-12">
                <div class="droite">
                    <a href="#" class="a-lutherie" onclick="showHideGalerie()"></a>
                </div>
            </div>



        </div>


        <div class="row mt-5 mb-5">
            <div id="toggle-description" class="text-pres-hidden mt-5 mb-5 p-5">
                <h3 class="text-center">L'histoire de la Lutherie</h3>
                <p>{{ lutherie.description1|striptags }}</p>
                <hr>
                <p>{{ lutherie.description2|striptags }}</p>
            </div>
        </div>



        <div id="toggle-galerie" class="row galerie-hidden mt-5 mb-5 text-center">

            <h3>Galerie photos</h3>
            <div class="col-lg-4 col-sm-12 mb-4">
                <img class="img-galerie w-75" src="/img/site/lutherie{{ asset(lutherie.galerie1) }}" alt="{{ lutherie.titreSite }}" title="{{ lutherie.titreSite }}">
            </div>
            <div class="col-lg-4 col-sm-12 mb-4">
                <img class="img-galerie w-75" src="/img/site/lutherie{{ asset(lutherie.galerie2) }}" alt="{{ lutherie.titreSite }}" title="{{ lutherie.titreSite }}">
            </div>
            <div class="col-lg-4 col-sm-12 mb-4">
                <img class="img-galerie w-75" src="/img/site/lutherie{{ asset(lutherie.galerie3) }}" alt="{{ lutherie.titreSite }}" title="{{ lutherie.titreSite }}">
            </div>


            {% if lutherie.galerie4 is not null %}
            <div class="col-lg-4 col-sm-12 mb-4">
                <img class="img-galerie w-75" src="/img/site/lutherie{{ asset(lutherie.galerie4) }}" alt="{{ lutherie.titreSite }}" title="{{ lutherie.titreSite }}">
            </div>
            {% endif %}

            {% if lutherie.galerie5 is not null %}
            <div class="col-lg-4 col-sm-12 mb-4">
                <img class="img-galerie w-75" src="/img/site/lutherie{{ asset(lutherie.galerie5) }}" alt="{{ lutherie.titreSite }}" title="{{ lutherie.titreSite }}">
            </div>
            {% endif %}

            {% if lutherie.galerie6 is not null %}
            <div class="col-lg-4 col-sm-12 mb-4">
                <img class="img-galerie w-75" src="/img/site/lutherie{{ asset(lutherie.galerie6) }}" alt="{{ lutherie.titreSite }}" title="{{ lutherie.titreSite }}">
            </div>
            {% endif %}

            {% if lutherie.galerie7 is not null %}
            <div class="col-lg-4 col-sm-12 mb-4">
                <img class="img-galerie w-75" src="/img/site/lutherie{{ asset(lutherie.galerie7) }}" alt="{{ lutherie.titreSite }}" title="{{ lutherie.titreSite }}">
            </div>
            {% endif %}

            {% if lutherie.galerie8 is not null %}
            <div class="col-lg-4 col-sm-12 mb-4">
                <img class="img-galerie w-75" src="/img/site/lutherie{{ asset(lutherie.galerie8) }}" alt="{{ lutherie.titreSite }}" title="{{ lutherie.titreSite }}">
            </div>
            {% endif %}

            {% if lutherie.galerie9 is not null %}
            <div class="col-lg-4 col-sm-12 mb-4">
                <img class="img-galerie w-75" src="/img/site/lutherie{{ asset(lutherie.galerie9) }}" alt="{{ lutherie.titreSite }}" title="{{ lutherie.titreSite }}">
            </div>
            {% endif %}

            {% if lutherie.galerie10 is not null %}
            <div class="col-lg-4 col-sm-12 mb-4">
                <img class="img-galerie w-75" src="/img/site/lutherie{{ asset(lutherie.galerie10) }}" alt="{{ lutherie.titreSite }}" title="{{ lutherie.titreSite }}">
            </div>
            {% endif %}

            {% if lutherie.galerie11 is not null %}
            <div class="col-lg-4 col-sm-12 mb-4">
                <img class="img-galerie w-75" src="/img/site/lutherie{{ asset(lutherie.galerie11) }}" alt="{{ lutherie.titreSite }}" title="{{ lutherie.titreSite }}">
            </div>
            {% endif %}

            {% if lutherie.galerie12 is not null %}
            <div class="col-lg-4 col-sm-12 mb-4">
                <img class="img-galerie w-75" src="/img/site/lutherie{{ asset(lutherie.galerie12) }}" alt="{{ lutherie.titreSite }}" title="{{ lutherie.titreSite }}">
            </div>
            {% endif %}

            {% if lutherie.galerie13 is not null %}
            <div class="col-lg-4 col-sm-12 mb-4">
                <img class="img-galerie w-75" src="/img/site/lutherie{{ asset(lutherie.galerie13) }}" alt="{{ lutherie.titreSite }}" title="{{ lutherie.titreSite }}">
            </div>

            {% endif %}
            {% if lutherie.galerie14 is not null %}
            <div class="col-lg-4 col-sm-12 mb-4">
                <img class="img-galerie w-75" src="/img/site/lutherie{{ asset(lutherie.galerie14) }}" alt="{{ lutherie.titreSite }}" title="{{ lutherie.titreSite }}">
            </div>
            {% endif %}

            {% if lutherie.galerie15 is not null %}
            <div class="col-lg-4 col-sm-12 mb-4">
                <img class="img-galerie w-75" src="/img/site/lutherie{{ asset(lutherie.galerie15) }}" alt="{{ lutherie.titreSite }}" title="{{ lutherie.titreSite }}">
            </div>
            {% endif %}

        </div>


    {% endfor %}

{% endblock %}

